<a href="https://colab.research.google.com/github/CathyShalu/Assignment1/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
col_1=db["telephone_directory"]

In [ ]:
print("Create a Directory Which Has Fields Like Name, Phone number, Place etc.,")

t = [
     {"unicode":0, "name":"cathy", "mobile":9923457643, "Place":"japan", "age":30, "category":"a"},
     {"unicode":1, "name":"aldo", "mobile":2435356789, "Place":"tokyo", "age":20, "category":"b"},
     {"unicode":2, "name":"zuriel", "mobile":8765435675, "Place":"tokyo", "age":15, "category":"c"},
     {"unicode":3, "name":"leema", "mobile":2387498885, "Place":"hirosima", "age":31, "category":"a"},
     {"unicode":4, "name":"paul", "mobile":8765727282, "Place":"nagasaki", "age":16, "category":"b"},
     {"unicode":5, "name":"ash", "mobile":92242572567, "Place":"parrot town", "age":18, "category":"c"},
     {"unicode":6, "name":"kenny", "mobile":5464334666, "Place":"kasukabe", "age":6, "category":"c"},
     {"unicode":7, "name":"jeffrey", "mobile":8827377624, "Place":"newyork", "age":53, "category":"c"},
     {"unicode":8, "name":"veena", "mobile":5444786589, "Place":"queens", "age": 120, "category":"b"},
     {"unicode":9, "name":"avi", "mobile":9876768643, "Place":"asgard", "age":1002, "category":"c"}
     ]

Create a Directory Which Has Fields Like Name, Phone number, Place etc.,

In [ ]:
rec_1 = col_1["profile"]

rec_1.insert_many(t)

In [ ]:
rec_1.insert_one({"unicode":10, "name":"thanos", "mobile":7876517763, "Place":"chernobyl", "age":1065, "category":"c"})

In [ ]:
for i in rec_1.find():
  print(i)

{'_id': ObjectId('63a34219907e9e9bfb5b496f'), 'unicode': 0, 'name': 'cathy', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'_id': ObjectId('63a34219907e9e9bfb5b4970'), 'unicode': 1, 'name': 'aldo', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4971'), 'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'tokyo', 'age': 15, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4972'), 'unicode': 3, 'name': 'leema', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'_id': ObjectId('63a34219907e9e9bfb5b4973'), 'unicode': 4, 'name': 'paul', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4974'), 'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4975'), 'unicode': 6, 'name': 'kenny', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4976'), 'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4977'), 'unicode': 8, 'name': 'veena', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4978'), 'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'_id': ObjectId('63a34227907e9e9bfb5b4979'), 'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [ ]:
print("Query to Find The Profile Where Age is Greater Than 18\n")

for i in rec_1.find( {"age":{"$gt":18} }, { '_id':0, "name":1, "age":1, "unicode":1 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18

{'unicode': 0, 'name': 'cathy', 'age': 30}
{'unicode': 1, 'name': 'aldo', 'age': 20}
{'unicode': 3, 'name': 'leema', 'age': 31}
{'unicode': 7, 'name': 'jeffrey', 'age': 53}
{'unicode': 8, 'name': 'veena', 'age': 120}
{'unicode': 9, 'name': 'avi', 'age': 1002}
{'unicode': 10, 'name': 'thanos', 'age': 1065}

In [ ]:
print("Query to Find The Profile Where Age is Greater Than 18 and Category is c\n")

for i in rec_1.find( { "$and": [ {"age":{"$gt":18} }, { 'category': 'c' } ] } , { '_id':0 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18 and Category is c

{'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [ ]:
print("Query to Find The Profile Where Age is Greater Than 18 and Category is \'a\' and also Unicode Lessthan 4\n")

for i in rec_1.find( { "$or": [ { "$and": [ {"age":{"$gt":18} }, { 'category': 'a' } ] }, { "unicode": { "$lt":4} } ] } , { '_id':0 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18 and Category is 'a' and also Unicode Lessthan 4

{'unicode': 0, 'name': 'cathy', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'unicode': 1, 'name': 'aldo', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'tokyo', 'age': 15, 'category': 'c'}
{'unicode': 3, 'name': 'leema', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}

In [ ]:
query = {"age" : {"$lt":18}}
new_values = {"$set" : {'category' : "c", 'Place' : "India"}}

rec_1.update_one(query, new_values)

In [ ]:
for i in rec_1.find( { 'category': 'c' } , { '_id':0 } ):
  print(i)

{'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'kenny', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [ ]:
query = { "$and": [ { "category" : "c" }, {'age': 1002 } ] }
new_values = {"$set" : {'age' : 18}}

rec_1.update_one(query, new_values)

In [ ]:
for i in rec_1.find( { 'category': 'c' } , { '_id':0 } ):
  print(i)

{'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'kenny', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [ ]:
Query ={'Place': "chernobyl"}

rec_1.delete_one(Query)

In [ ]:
for i in rec_1.find( { } , { '_id':0 } ):
  print(i)

{'unicode': 0, 'name': 'cathy', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'unicode': 1, 'name': 'aldo', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 3, 'name': 'leema', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'unicode': 4, 'name': 'paul', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'kenny', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 8, 'name': 'veena', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}

In [ ]:
Query ={"$and": [ { 'category': "c" }, { 'unicode': 6} ] }

rec_1.delete_one(Query)

In [ ]:
for i in rec_1.find():
  print(i)

{'_id': ObjectId('63a34219907e9e9bfb5b496f'), 'unicode': 0, 'name': 'cathy', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'_id': ObjectId('63a34219907e9e9bfb5b4970'), 'unicode': 1, 'name': 'aldo', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4971'), 'unicode': 2, 'name': 'zuriel', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4972'), 'unicode': 3, 'name': 'leema', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'_id': ObjectId('63a34219907e9e9bfb5b4973'), 'unicode': 4, 'name': 'paul', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4974'), 'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4976'), 'unicode': 7, 'name': 'jeffrey', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'_id': ObjectId('63a34219907e9e9bfb5b4977'), 'unicode': 8, 'name': 'veena', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'_id': ObjectId('63a34219907e9e9bfb5b4978'), 'unicode': 9, 'name': 'avi', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}